
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    line-height: 1.15;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --secondary-font: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --border-radius: 5px;
    --bg-color: #221F42;
    --bg-dark-color: #100E2D;
    --light-text: #eee;
    --bg-light-1: rgba(255, 255, 255, 0.01);
    --bg-light-10: rgba(255, 255, 255, 0.1);
    --bg-light-5: rgba(255, 255, 255, 0.05);
    --bg-light-20: rgba(255, 255, 255, 0.2);
    --bg-dark-10: rgba(0, 0, 0, 0.1);
    --bg-dark-30: rgba(0, 0, 0, 0.3);
    --bg-dark-50: rgba(0, 0, 0, 0.5);
    --primary-color: #7A78A3;
    --secondary-color: #4E4B84;
    --danger-color: rgba(238, 82, 83,1.0);
    --danger-mid-color: rgba(238, 82, 83, 0.3);
    --danger-low-color: rgba(238, 82, 83, 0.1);
    --body-color: #302D52;
    --header-color: #1B1831;
    --primary-gradient: linear-gradient(to right, #654EA3, #B06AB3);
    --facebook-color: #0080FB;
    --twitter-color: #1DA1F2;
    --discord-color: #7289DA;
    --tab-active-color: #23203E;
}

a {
    color: var(--light-text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-weight: 300;
}

.container {
   /*  max-width: 1170px; */
    max-width: 1250px;
    width: 100%;
    padding: 5px 20px;
    margin: auto;
}

.page-container {
    display: flex;
    gap: 20px;
}

.page-body {
    flex: 1 0 auto;
}

.page-sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: crimson; */
}

@media (max-width: 900px) {
    .page-container {
        flex-direction: column;
    }
    .page-sidebar {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
}

.w-100 {
    width: 100%;
}

.w-auto {
    flex: 1;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-self-end {
    align-self: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.brand {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--light-text);
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
}

.brand:hover {
    text-decoration: none;
    opacity: 0.8;
}

.top-gradient {
    background-image: linear-gradient(to right, #654EA3, #B06AB3);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
    height: 5px;
}

.dropdown {
    position: relative;
}

.btn {
    background-color: var(--bg-light-10);
    border: none;
    padding: 10px 16px;
    border-radius: var(--border-radius);
    color: var(--light-text);
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    background-color: var(--bg-light-20);
}

.btn i {
    margin-right: 8px;
}

.btn-default {
    background-color: var(--bg-dark-color);
    border-color: var(--bg-dark-color);
}

.btn-default:hover {
    opacity: 0.86;
}

.btn-primary {
    background-image: linear-gradient(to right, #654EA3, #B06AB3);
    border-color: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn-primary:hover::before {
    opacity: 1;
}

.btn-primary::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to left, #654EA3, #B06AB3);
    border: 1px solid transparent;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: var(--border-radius);
}

.btn.facebook {
    background-color: var(--facebook-color);
}

.btn.twitter {
    background-color:  var(--twitter-color);
}

.btn.discord {
    background-color: var(--discord-color);
}

.btn.facebook:hover, .btn.twitter:hover, .btn.discord:hover {
    opacity: 0.85;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.input-group {
    position: relative;
}

.input-group > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-size: 18px;
    color: var(--primary-color)
}

input {
    background-color: var(--bg-light-10);
    color: var(--primary-color);
    outline: none;
    border: 1px solid var(--bg-dark-10);
    padding: 5px 35px;
    font-size: 18px;
}

.input-default {
    height: 45px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--primary-color);
    padding: 15px 0 15px 15px;
    border-radius: var(--border-radius);
    width: 100%;
}

.input-default::placeholder {
    font-weight: 100;
}

span.sep {
    display: inline-block;
    background-color: var(--light-text);
    height: 3px;
    width: 3px;
    border-radius: 100px;
    margin: 0 6px;
}

.pagination {
    display: flex;
    gap: 3px;
}

.pagination .btn-prev {
    border-radius: 5px 0 0 5px;
}

.pagination .btn-page {
    border-radius: 0;
}

.pagination .btn-next {
    border-radius: 0 5px 5px 0;
}

.pagination .btn i {
    margin-right: 0;
}

span.time {
    color: var(--primary-color);
}

.badges {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.badge {
    font-size: 12px;
    background-color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 100px;
    color: var(--light-text);
    user-select: none;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-dark-30);
    z-index: 5;
    top: 0;
    left: 0;
}

.header {
    position: relative;
    padding: 15px 25px;
    border-radius: var(--border-radius);
    background-color: var(--header-color);
    color: var(--primary-color);
}

.ProseMirror {
    padding: 10px;
    color: var(--light-text);
    outline: none;
    font-size: 14px;
    min-height: 95px;
}